/* 214987 */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ---------------------------PRE-LOADER--------------------------- */
.preloader {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #fff;
}
.preloader_inner {
  position: absolute;
  margin: -15em 0 0 -15em;
  font-size: 2px;
  top: 50vh;
  left: 50vw;
  background: #fff;
  border-top: 0.8em solid rgba(35, 35, 35, 0.2);
  border-right: 0.8em solid rgba(35, 35, 35, 0.2);
  border-bottom: 0.8em solid rgba(35, 35, 35, 0.2);
  border-left: 0.8em solid #032259;
  transform: translateZ(0);
  animation: preloader 0.7s infinite linear;
}
.preloader_inner, .preloader_inner:after {
  border-radius: 50%;
  width: 30em;
  height: 30em;
}
.preloader.hidden {
  opacity: 0;
  z-index: -100;
}

@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* --------------------------------------HEADER-------------------------------------- */
header {
  position: relative;
  /* DROPDOWN MENU */
}
header .navbar {
  width: 100%;
  background: #fff;
  z-index: 200;
  position: fixed;
  box-shadow: 0 2px 6px 2px rgba(33, 73, 135, 0.7);
  padding-right: 1rem;
}
@media screen and (min-width: 576px) {
  header .navbar {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 1200px) {
  header .navbar {
    padding: 0 4rem;
  }
}
@media screen and (min-width: 1400px) {
  header .navbar {
    padding: 0 6rem;
  }
}
header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 992px) {
  header .navbar ul {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  header .navbar ul {
    gap: 2.5rem;
  }
}
header .navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
header .navbar ul li:hover {
  color: #032259;
  font-weight: 600;
  /* add animation on hover  */
}
header .navbar_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar_inner .nav_logo {
  width: 13rem;
  height: 4rem;
  position: relative;
}
@media screen and (min-width: 992px) {
  header .navbar_inner .nav_logo {
    width: 16rem;
    height: 6rem;
  }
}
header .navbar_inner .menu_items {
  display: none;
}
header .navbar_inner .toogle_btn {
  display: block;
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
}
@media screen and (min-width: 992px) {
  header .navbar_inner .menu_items,
  header .navbar_inner .nav_btn {
    display: block;
  }
  header .navbar_inner .toogle_btn {
    display: none;
  }
}
header .dropdown_menu {
  position: absolute;
  top: 4.2rem;
  z-index: 100;
  border-radius: 1rem;
  padding: 1.54rem 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  overflow: hidden;
  right: -50rem;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (min-width: 576px) {
  header .dropdown_menu {
    width: 300px;
  }
}
@media screen and (max-width: 992px) {
  header .dropdown_menu {
    position: fixed;
  }
}
header .dropdown_menu.open {
  right: 0;
}
header .dropdown_menu ul {
  text-align: center;
  display: grid;
  gap: 1rem;
}
header .dropdown_menu ul li {
  cursor: pointer;
  color: #000;
}
header .dropdown_menu ul li:hover {
  color: #032259;
}
@media screen and (min-width: 992px) {
  header .dropdown_menu {
    display: none;
  }
}

/* --------------------------------------HERO SECTION-------------------------------------- */
.hero_sec {
  background: #f7f9f9;
  margin-top: 4.6rem;
  height: 100%;
  min-height: 30vh;
}
@media screen and (min-width: 992px) {
  .hero_sec {
    margin-top: 6.5rem;
  }
}
.hero_sec_inner {
  display: grid;
  align-items: center;
  place-content: center;
  justify-content: center;
  padding: 2.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 992px) {
  .hero_sec_inner {
    padding: 2.5rem;
  }
}
.hero_header {
  text-align: center;
  color: #fe0002;
  font-size: 1.2rem;
  font-weight: 900;
  line-height: normal;
}
@media screen and (min-width: 992px) {
  .hero_header {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
}
.hero_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.hero_bottom_left {
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  max-width: 35rem;
  color: #1a3e6f;
}
@media screen and (min-width: 992px) {
  .hero_bottom_left {
    font-size: 2rem;
    line-height: 3.5rem;
  }
}
.hero_bottom_right {
  display: none;
}
@media screen and (min-width: 992px) {
  .hero_bottom_right {
    display: block;
  }
}
.hero_bottom_right img {
  width: -moz-fit-content;
  width: fit-content;
}

/* --------------------------------------WE OFFER  SECTION-------------------------------------- */
.we_offer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.we_offer_inner {
  padding: 3rem 1rem;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .we_offer_inner {
    text-align: left;
    padding: 6rem 1rem;
  }
}
.we_offer_header {
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  color: #032259;
  text-transform: capitalize;
  margin: 1rem 0;
}
.we_offer .offer_box {
  width: 100%;
  min-width: 20vw;
  cursor: pointer;
  background: #fff;
  color: #1a3e6f;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.we_offer .offer_box_sec {
  padding: 2.5rem 0;
  display: grid;
  justify-content: space-between;
  align-items: center;
  place-items: center;
  gap: 2.5rem;
}
@media screen and (min-width: 992px) {
  .we_offer .offer_box_sec {
    display: flex;
  }
}
.we_offer .offer_box:hover {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
@media screen and (min-width: 992px) {
  .we_offer .offer_box {
    width: 20rem;
  }
}
.we_offer .offer_box_inner {
  padding: 1rem;
}
.we_offer .offer_box_inner img {
  width: 5rem;
  aspect-ratio: 1/1;
}
.we_offer .offer_box_text {
  width: 100%;
  max-width: 13rem;
  margin-top: 2rem;
}
@media screen and (min-width: 992px) {
  .we_offer .offer_box_text {
    max-width: 15rem;
  }
}
.we_offer .offer_box_text h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #032259;
  line-height: normal;
}
@media screen and (min-width: 992px) {
  .we_offer .offer_box_text h3 {
    font-size: 1.4rem;
  }
}
.we_offer .offer_box_text p {
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 992px) {
  .we_offer .offer_box_text p {
    letter-spacing: 0.1em;
  }
}
.we_offer .offer_box_btn {
  border: none;
  border-radius: 5px;
  width: 8rem;
  height: 2.8rem;
  margin-top: 1.5rem;
  border: 1px solid #fe0002;
  background: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
.we_offer .offer_box_btn:hover {
  background: #fe0002;
  color: #fff;
  font-weight: 800;
}

/* --------------------------------------FOOTER  SECTION-------------------------------------- */
.footer {
  border-top: 2px solid #f7f9f9;
  padding-top: 2rem;
}
.footer_inner {
  display: grid;
  justify-content: space-around;
  place-items: center;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  text-transform: capitalize;
  font-weight: 400;
  color: #000;
}
@media screen and (min-width: 992px) {
  .footer_inner {
    display: flex;
  }
}
.footer_inner img {
  width: 11rem;
  height: 3rem;
}
@media screen and (min-width: 992px) {
  .footer_inner img {
    width: 13rem;
    height: 4rem;
  }
}/*# sourceMappingURL=styles.css.map */