@import "./color";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-style: normal;
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  overflow: hidden;
}

/* ---------------------------PRE-LOADER--------------------------- */
.preloader {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: $white;

  &_inner {
    position: absolute;
    margin: -15em 0 0 -15em;
    font-size: 2px;
    top: 50vh;
    left: 50vw;
    background: $white;
    border-top: 0.8em solid rgba(35, 35, 35, 0.2);
    border-right: 0.8em solid rgba(35, 35, 35, 0.2);
    border-bottom: 0.8em solid rgba(35, 35, 35, 0.2);
    border-left: 0.8em solid $primary;
    transform: translateZ(0);
    animation: preloader 0.7s infinite linear;

    &,
    &:after {
      border-radius: 50%;
      width: 30em;
      height: 30em;
    }
  }

  &.hidden {
    opacity: 0;
    z-index: -100;
  }
}

@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* --------------------------------------HEADER-------------------------------------- */
header {
  position: relative;
  .navbar {
    width: 100%;
    background: $white;
    z-index: 200;
    position: fixed;
    box-shadow: $nav_shadow;
    padding-right: 1rem;

    @media screen and (min-width: 576px) {
      padding: 0 1rem;
    }

    @media screen and (min-width: 1200px) {
      padding: 0 4rem;
    }
    @media screen and (min-width: 1400px) {
      padding: 0 6rem;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      @media screen and (min-width: 992px) {
        gap: 1rem;
      }

      @media screen and (min-width: 1200px) {
        gap: 2.5rem;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0em;
        text-align: left;
        color: $dark_text;

        &:hover {
          color: $primary;
          font-weight: 600;

          /* add animation on hover  */
        }
      }
    }

    &_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .nav_logo {
        width: 13rem;
        height: 4rem;
        position: relative;

        @media screen and (min-width: 992px) {
          width: 16rem;
          height: 6rem;
        }
      }

      .menu_items {
        display: none;
      }

      .toogle_btn {
        display: block;
        color: $black;
        font-size: 2rem;
        cursor: pointer;
        z-index: 100;
      }

      @media screen and (min-width: 992px) {
        .menu_items,
        .nav_btn {
          display: block;
        }

        .toogle_btn {
          display: none;
        }
      }
    }
  }

  /* DROPDOWN MENU */

  .dropdown_menu {
    position: absolute;
    top: 4.2rem;
    z-index: 100;
    padding: 1.54rem 0;
    background: $white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1rem;
    overflow: hidden;
    right: -50rem;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: $nav_shadow;

    @media screen and (min-width: 576px) {
      width: 300px;
    }
    @media screen and (max-width: 992px) {
      position: fixed;
    }

    &.open {
      right: 0;
    }

    ul {
      text-align: center;
      display: grid;
      gap: 3rem;
      padding: 3rem 0;

      li {
        cursor: pointer;
        color: $dark_text;
        &:hover {
          color: $primary;
        }
      }
    }

    @media screen and (min-width: 992px) {
      display: none;
    }
  }
}

/* --------------------------------------HERO SECTION-------------------------------------- */

.hero {
  &_sec {
    background: $secondary_bg;
    margin-top: 4.6rem;
    height: 100%;
    min-height: 30vh;
    @media screen and (min-width: 992px) {
      margin-top: 6.5rem;
    }

    &_inner {
      display: grid;
      align-items: center;
      place-content: center;
      justify-content: center;
      padding: 2.5rem 1rem 1rem 1rem;
      @media screen and (min-width: 992px) {
        padding: 2.5rem;
      }
    }
  }

  &_header {
    text-align: center;
    color: $header_text;
    font-size: 1.2rem;
    font-weight: 900;
    line-height: normal;
    @media screen and (min-width: 992px) {
      font-size: 1.8rem;
      margin-top: 2rem;
    }

    img {
      width: 100%;
      height: 7rem;

      @media screen and (min-width: 992px) {
        width: 80%;
        height: 8rem;
      }
    }
  }

  &_bottom {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &_left {
      width: 100%;
      font-weight: 600;
      font-size: 1rem;
      text-align: center;
      line-height: 2rem;
      padding-top: 1rem;
      max-width: 35rem;
      color: $light_text;
      @media screen and (min-width: 992px) {
        padding-top: 2rem;
        font-size: 2rem;
        line-height: 3.5rem;
      }
    }

    &_right {
      display: none;
      @media screen and (min-width: 992px) {
        display: block;
      }
      img {
        width: fit-content;
      }
    }
  }
}

/* --------------------------------------WE OFFER  SECTION-------------------------------------- */

.we_offer {
  display: flex;
  justify-content: center;
  align-items: center;

  &_inner {
    padding: 3rem 1rem;
    text-align: center;

    @media screen and (min-width: 992px) {
      text-align: left;
      padding: 6rem 1rem;
    }
  }

  &_header {
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    color: $primary;
    text-transform: capitalize;
    margin: 1rem 0;
  }

  .offer_box {
    &_sec {
      padding: 2.5rem 0;
      display: grid;
      justify-content: space-between;
      align-items: center;
      place-items: center;
      gap: 2.5rem;
      @media screen and (min-width: 992px) {
        display: flex;
      }
    }

    width: 100%;
    min-width: 20vw;
    cursor: pointer;
    background: $white;
    color: $light_text;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

    &:hover {
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 0px 8px;
    }
    @media screen and (min-width: 992px) {
      width: 20rem;
    }

    &_inner {
      padding: 1rem;
      img {
        width: 5rem;
        aspect-ratio: 1/1;
      }
    }

    &_text {
      width: 100%;
      max-width: 13rem;
      margin-top: 2rem;

      @media screen and (min-width: 992px) {
        max-width: 15rem;
      }

      h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: $primary;
        line-height: normal;
        @media screen and (min-width: 992px) {
          font-size: 1.4rem;
        }
      }

      p {
        font-size: 1rem;
        font-weight: 500;
        line-height: normal;

        @media screen and (min-width: 992px) {
          letter-spacing: 0.1em;
        }
      }
    }

    &_btn {
      border: none;
      border-radius: 5px;
      width: 8rem;
      height: 2.8rem;
      margin-top: 1.5rem;
      border: 1px solid $header_text;
      background: $white;
      color: $black;
      font-size: 1rem;
      font-weight: 600;
      text-transform: capitalize;
      cursor: pointer;

      &:hover {
        background: $header_text;
        color: $white;
        font-weight: 800;
      }
    }
  }
}

/* --------------------------------------FOOTER  SECTION-------------------------------------- */

.footer {
  border-top: 2px solid $secondary_bg;
  padding-top: 2rem;
  &_inner {
    display: grid;
    justify-content: space-around;
    place-items: center;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
    text-transform: capitalize;
    font-weight: 400;
    color: $dark_text;
    @media screen and (min-width: 992px) {
      display: flex;
    }

    img {
      width: 11rem;
      height: 3rem;

      @media screen and (min-width: 992px) {
        width: 13rem;
        height: 4rem;
      }
    }
  }
}

/* ANIMATIONS */

/* ADDING SCROLL ANIMATIONS */
.animations_up {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.7s ease-out;
  transition-delay: 0.5s;
}

/*  */
.animations_down {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.7s ease-out;
  transition-delay: 0.5s;
}

/*  */
.animations_left {
  opacity: 0;
  transform: translateX(-110px);
  transition: all 0.6s ease-out;
  transition-delay: 0.4s;
  overflow: hidden;
  &_special {
    @media screen and (min-width: 1400px) {
      opacity: 0;
      transform: translateY(100px);
      transition: all 0.6s ease-out;
      transition-delay: 0.4s;
    }
  }
}

/*  */
.animations_right {
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.6s ease-out;
  transition-delay: 0.4s;
}

/*  */
.scroll-animation {
  opacity: 1;
  transform: translate(0);
}
